body {
    background-color: hsl(99, 14%, 51%);
}

header {
    text-align: center;
}


/* aspect ratio: (5:3) */
#game-container {
    position: relative;
    width: 900px;
    height: 540px;
    
    margin: auto;

    background-color: rgb(59, 59, 59);
}

#battlefield-container {
    position: absolute;
    top: 0;
    height: 360px;
    width: 100%;
    /* background gradient */
    background: #8c8c8c;
    background: linear-gradient(180deg, rgba(140, 140, 140, 1) 0%, rgba(207, 207, 207, 1) 51%, rgba(242, 242, 242, 1) 100%);
}

#menu-container {
    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    background-color: #101010;
}

.menuText {
    color: white;
}

#enemyPokemonSprite {
    width: 200px;
}