body {
    background-color: hsl(99, 14%, 51%);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}


/* aspect ratio: (5:3) */
#game-container {
    position: relative;
    width: 900px;
    height: 540px;
    
    margin: auto;

    background-color: rgb(59, 59, 59);
    
}

#battlefield-container {
    position: absolute;
    top: 0;
    height: 360px;
    width: 100%;
    /* background gradient */
    background: #8c8c8c;
    background: linear-gradient(180deg, rgba(140, 140, 140, 1) 0%, rgba(207, 207, 207, 1) 51%, rgba(242, 242, 242, 1) 100%);
}

#menu-container {
    position: absolute;
    bottom: 0;
    height: 180px;
    width: 100%;
    background-color: #101010;
}

#menu-left-side {
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-side-text-box {
    height: 148px;
    width: 508px;
    border: white solid 2px;
    border-radius: 16px;
    overflow:scroll;
    overflow: hidden;
    background-color: #303030;
    box-shadow: #101010 5px 5px 10px inset;
}

#menu-dynamic-text {
    font-size: 1.5rem;
    margin: 24px;
    font-weight: 300;
}

#menu-right-side {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-side-buttons-container {
    height: 148px;
    width: 328px;
}

.menuTextColor {
    color: white;
}

.menuButton {
    font-size: 1.25rem;
    height: 66px;
    border-radius: 16px;
    border: white 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
}


#smaller-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.smallerMenuButton {
    width: 156px;
}

#enemy-pokemon-sprite {
    width: 200px;
}